.sider .header {
  width: 100%;
  height: 30px;
  display: flex;
  padding: 5px 0 0 0;
}

.sider .header .blue-line {
  background: #00009a;
  height: 5px;
  margin: auto 0;
  width: 100%;
}

.sider .header .blue-line .dots {
}

.sider .blue-line .green,
.yellow,
.purple,
.orange {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
}

.sider .blue-line .green {
  background-color: darkgreen;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px darkgreen;
  left: 15px;
}

.sider .blue-line .yellow {
  background-color: rgb(238, 181, 26);
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px rgb(238, 181, 26);
  left: 45px;
}

.sider .blue-line .purple {
  background-color: rgb(61, 0, 131);
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px rgb(61, 0, 131);
  left: 75px;
}

.sider .blue-line .orange {
  background-color: rgb(209, 84, 0);
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px rgb(209, 84, 0);
  left: 105px;
}

.sider .button-row {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid #2ec3ff;
  padding: 4px 0 0 0;
  padding-top: 10px;
}

.sider .button-row button {
  font-size: 16px;
  border: none;
  background: #d6efff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px 0 10px;
  height: 50px;
  margin: 0 1px;
  color: #1dbeff;
  font-weight: 600;
  width: 100%;
}

.sider .button-row .selected {
  background: #2ec3ff;
  color: white;
  font-size: 16px;
}

@media only screen and (max-width: 380px) {
  .sider .button-row .selected {
    width: 240px;
  }
}
