.sider .header {
  width: 100%;
  height: 30px;
  display: flex;
}

.sider .header .blue-line {
  background: darkblue;
  height: 3px;
  margin: auto 0;
  width: 100%;
}

.sider .header .blue-line .dots {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.sider .blue-line .green,
.yellow,
.purple,
.orange {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 6.5px;
}

.sider .blue-line .green {
  background-color: darkgreen;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px darkgreen;
  left: 14px;
}

.sider .blue-line .yellow {
  background-color: rgb(238, 181, 26);
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px rgb(238, 181, 26);
  left: 39px;
}

.sider .blue-line .purple {
  background-color: rgb(61, 0, 131);
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px rgb(61, 0, 131);
  left: 64px;
}

.sider .blue-line .orange {
  background-color: rgb(209, 84, 0);
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px rgb(209, 84, 0);
  left: 89px;
}

.sider .button-row {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid #0151fc;
  padding: 4px 0 0 0;
  padding-top: 10px;
}

.sider .button-row button {
  font-size: 15px;
  border: none;
  background: #b3c9f8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding: 5px 10px 0 10px;
  width: 180px;
  height: 50px;
  margin: 0 1px;
  color: #0035a7;
  font-weight: 600;
}

.sider .button-row .selected {
  background: #0151fc;
  color: white;
}

@media only screen and (max-width: 1400px) {
  .sider .button-row button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  .sider .button-row button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .sider .button-row button {
    font-size: 15px;
  }
}
